Dieses Projekt wurde umgesetzt von:
<ul>
	<li>Steven Tappert</li>
	<li>Alexander H&auml;hnel</li>
	<li>Philip H&auml;hnel</li>
	<li>Florian Tenhaken</li>
	<li>Jonas G&ouml;ttsche</li>
	<li>Konstantin Miller</li>
</ul>

Es hat folgende Eckdaten (Stand: 31.3.12):

<ul>
	<li>ca 300 Dateien reinen PHP-Quellcode</li>
	<li>ca 6000 Zeilen</li>
</ul>

Folgende Programme stellen die Plattform bereit:
<ul>
	<li>Apache 2.2.x</li>
	<li>PHP 5.3.x</li>
	<li>MySQL 5.1</li>
</ul>

Folgende Programme wurden zur Erstellung und Verwaltung des Quellcodes genutzt:
<ul>
	<li>Notepad++</li>
	<li>PhpStorm</li>
	<li>Subversion</li>
</ul>

Um weitere Details zu erfahren einfach fragen ;-)<br />
<a href="mailto:Steven Tappert <steven.tappert@gmail.com>">&rarr; Einfach hier klicken &larr;</a>