<html:template name="eintragKlasse">
    <html:placeholder name="lehrer" />
    <html:placeholder name="raum" />
    <html:placeholder name="fach" />
</html:template>
<html:template name="eintragLehrer">
    <html:placeholder name="raum" />
    <html:placeholder name="fach" />
    <html:placeholder name="klasse" />
</html:template>
<html:template name="eintragRaum">
    <html:placeholder name="fach" />
    <html:placeholder name="klasse" />
    <html:placeholder name="lehrer" />
</html:template>
